@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&&family=Inter:wght@500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Barlow', sans-serif;
    background-color: var(--black);
}

:root {
    --font-inter: 'Inter', sans-serif;
    --font-barlow: 'Barlow', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --ciano-default-color: #00e7f9;
    --ciano-hover: #00b4c1;
    --blue-dark-color: #0F1116;
    --white: rgb(250, 250, 250);
    --black: #000000;
    --black-100: #0d0d0d;
}

.container_header, .section_sobre, .section_qualificacoes, .section_servico, .section_tech, .section_projetos, .section_contato {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.section_sobre, .section_qualificacoes, .section_servico, .section_tech, .section_projetos, .section_contato {
    padding-top: 9rem;
}

.destaque {
    color: var(--ciano-default-color);
}

